<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="singleProduct">
    <ion-card-header>
      <ion-card-title>{{ singleProduct.name }}</ion-card-title>
      <!-- Replace 'name' with the actual property name -->
    </ion-card-header>

    <ion-card-content>
      <img
        alt="{{singleProduct.name}}"
        src="{{singleProduct.api_featured_image}}"
      />
      <!-- Replace 'Lippie Pencil' with the actual property name -->
    </ion-card-content>
  </ion-card>
</ion-content>
