<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="singleProduct">
    <ion-card-content>
      <div class="image">
        <img
          alt="{{singleProduct.name}}"
          src="{{singleProduct.api_featured_image}}"
        />
      </div>
      <!-- Replace 'Lippie Pencil' with the actual property name -->
      <div class="otherHalf">
        <div class="row">
          <h1>{{ singleProduct.name }}</h1>
          <h2>{{singleProduct.price_sign}} {{ singleProduct.price }}</h2>
        </div>
        <ion-item-divider></ion-item-divider>
        <br />
        <div class="row">
          <p class="description">{{ singleProduct.description }}</p>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
          <ul>
            <li *ngFor="let color of singleProduct.product_colors">
              <p
                class="productColor"
                [ngStyle]="{'background-color': color.hex_value}"
                title="{{ color.colour_name }}"
              ></p>
            </li>
          </ul>
        </div>
        <br />
        <br />
        <br />
        <div class="row">
          <ion-button
            fill="outline"
            color="secondary"
            (click)="addToCart()"
            size="medium"
            >Add to Cart</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="productCard" *ngFor="let product of similarProducts">
    <img
      alt="{{product.name}}"
      src="{{product.api_featured_image}}"
      class="similarProductImg"
    />
  </ion-card>
</ion-content>
